.section-width {
    max-width: $section-width;
    padding: 0px 50px 0 50px;
    margin: 0 auto;
    scroll-margin-top: 180px;
    @media (max-width: 767px) {
        padding:0 0;
        scroll-margin-top: 100px;
        // overflow: hidden;
    }
}
.mt-38{
    margin-top: 38px;
}
.mt-180{
    margin-top: 180px;
}